$primary-color: rgba(0,15,73,1.00);
$secondary-color: rgba(0,13,65,1.00);

$text-color: rgba(255,255,255,1.00);

$background-primary-color: rgba(255,255,255,1.00);
$background-secondary-color: rgba(255,255,255,1.00);

