%product {
  color: $text-color;
  margin-bottom: 15px;

  &:hover, &:focus {
    a {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.10);
      text-decoration: none;
    }
  }

  a {
    display: block;
    color: $text-color;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 400ms ease-in-out;
  }


  img {
    @extend %img-responsive;
  }

  .product-image, .product-content {
    background-color: #fff;
  }

  .product-content {
    padding: 5px 10px;
  }
  
  .title {
    font-weight: 800;
    text-overflow: ellipsis;
  }

  span .title {
  position: relative;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  }
  
  .title, .price {
    display: inline-block;
  }

  .price p {
    font-size: 24px;
    font-weight: 700;
  }

  .price {
    float: right;
    font-size: 24px;
    color: $primary-color;
  }

  h3 {
    margin: 0;
  }

  .id p {
     font-size: 12px;
  }

  .collection span {
     font-size: 12px;
     border: 1px solid #000;
     border-radius: 60px;
     padding-left: 4px;
     padding-right: 4px;
     padding-top: 2px;
     padding-bottom: 2px;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}